   .wrapper {
   height: 600px;
   }
   #jrange input {
   width: 200px;
   }
   #jrange div {
   font-size: 9pt;
   }
   .date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
   background: none;
   background-color: lightsteelblue;
   }
   .agesbtn {
   background: #FFF !important;
   }
   .agesbtn i{
   float: right;
   padding-right: 0px;
   color: #999;
   padding-top: 3px;
   }
   .no-padding {
   padding:0;
   }
   .ageandcitizen {
   background: #FFF;
   margin-top: 5px;
   box-shadow: 0 0 24px rgba(0,0,0,.16);
   text-align:left;
   }
   .ageandcitizen input {
   width: 100% !important;
   height: 20px;
   border: 0;
   border-bottom-color: currentcolor;
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-bottom-color: currentcolor;
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-bottom: 1px solid #bbb;
   padding: 0px;
   }
   .ageandcitizen input:focus {
   border-bottom: 1px solid #1bbc9b;
   }
   .ageandcitizen h3 {
   color: #465c69;
   font-size: 13px;
   font-weight: bold;
   line-height: 0;
   margin-top: 25px;
   margin-bottom: 10px;
   }
   .ageandcitizen h3 i{
   color: #36ae8d;
   font-size: 20px;
   padding-right: 5px;
   }
   input[type=checkbox]{
   height: 0;
   width: 0;
   visibility: hidden;
   }
   .personswitch label {
   cursor: pointer;
   text-indent: -9999px;
   width: 40px;
   height: 15px;
   background: #DDD;
   display: block;
   border-radius: 100px;
   position: relative;
   }
   .personswitch label:after {
   content: '';
   position: absolute;
   top: -2px;
   left: 2px;
   width: 19px;
   height: 19px;
   background: #44bc9b;
   border-radius: 90px;
   transition: 0.3s;
   }
   .personswitch input:checked + label {
   background: rgba(88,169,33,.4);
   }
   .personswitch input:checked + label:after {
   left: calc(100% - 2px);
   transform: translateX(-100%);
   }
   .fa-close {
   color: #666;
   font-size: 16px;
   font-weight: normal;
   position: absolute;
   right: 15px;
   top: 15px;
   cursor: pointer;
   }
   .fa-close:hover {
   color: #c00; 
   }
   .addmorebtn {
   cursor: pointer;
   border: 1px solid #1bbc9b;
   border-radius: 30px;
   color: #1bbc9b;
   font-weight: bold;
   display: block;
   text-align: center;
   width: 22px;
   height: 22px;
   padding: 0;
   background: #FFF;
   box-shadow: none !important; 
   }
   .addmorebtn:hover {
   border: 1px solid #1bbc9b; 
   background: #1bbc9b;
   color: #FFF;
   }
   .daterangepicker td.start-date {
   border-radius: 30px 0 0 30px !important;
   }
   .daterangepicker td.end-date {
   border-radius: 0 30px 30px 0 !important; 
   }
   .durationtext {
   font-size: 16px;
   font-weight: bold;
   display: inline-block;
   text-align: left;
   float: left;
   }
   .duration_days {
   color:#35ad8c;
   }
   .daterangepicker td.start-date {
   border-radius: 100px !important;
   }
   .daterangepicker td.end-date {
   border-radius: 100px !important; 
   }
   .daterangepicker td.in-range {
   border-radius: 100px !important; 
   }
   .durationtext {
   font-size: 16px;
   font-weight: bold;
   display: inline-block;
   text-align: left;
   float: left;
   }
   .duration_days {
   color: #35ad8c;
   padding: 5px 0;
   }
   .duration_text {
   display: inline-block;
   font-size: 12px;
   padding-top: 5px;
   }
   /*Radio Styling */
   .daterangepicker .drp-calendar {
   max-width: none !important;
   }
   .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
   height: 34px !important;
   }
</style>
<!--
   <style>
   #ui-datepicker-div, .ui-datepicker-div, .ui-datepicker-inline {
    width:auto;
   }
   .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
   border: none;
   background: #30a887;
   color: #fff;
   font-weight: bold;
   font-size: 14px;
   text-align: center;  
   }
   .ui-monthpicker .ui-datepicker-today a, .ui-monthpicker .ui-datepicker-today a:hover, .ui-datepicker .ui-datepicker-current-day a {
   background: #333 !important;
   color: #FFF !important;
   text-align: center;
   border: none !important;
   outline: none;
   }
   .ui-datepicker-calendar th span {
    color:#333 !important;
   }
   .ui-datepicker-header select, table.ui-datepicker td a {
   color: #333;
   background: #FFF !important; 
   }
   .ui-datepicker .ui-state-highlight {
   background: #FFFA90 !important;
   color: #333 !important;  
   }
   
   .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
   background-color: #04cca4;
   border-radius: 100px;  
   }
   .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
   padding:3px !important;
   }
   .datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th { font-weight:bold !important; }
   .datepicker table tr td, .datepicker table tr th {
   text-align: center;
   padding: 8px 12px !important;
   /*border-radius: 50px !important;*/
   border: none;
   }
   .table-striped > tbody > tr:nth-child(2n+1), table > tbody > tr:nth-child(2n+1) {
   border: none !important; 
   }
   .datepicker table tr td.today {
   background: #F1F1F1 !important;
   }
   .table-condensed thead tr:nth-child(2) {
   background: #44bc9b !important;
   color: #FFF !important;  
   }
   .table-condensed thead tr th:nth-child(1) {
   border-radius: 0px !important; 
   }
   .table-condensed thead tr th:nth-child(2) {
   border-radius: 0px !important; 
   }
   .table-condensed thead tr th:nth-child(3) {
   border-radius: 0px !important; 
   }
   .datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
   font-size:16px;
   }
   *, *:before, *:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   .clearfix {
   clear:both;
   }
   .breadcrumbs ul {
   list-style: none;
   }
   .cf {
   &:before, &:after { content: ' '; display: table; }
   &:after { clear: both; }
   }
   .inner {
   max-width: 820px;
   margin: 0 auto;
   }
   body .wizzard ul {
   margin: 0;
   padding: 0;
   }
   body .wizzard ul:after {
   content: "";
   display: block;
   clear: both;
   }
   body .wizzard ul li {
   display: inline-block;
   width: 25%;
   margin: 0;
   padding: 25px 0;
   float: left;
   text-align: center;
   position: relative;
   }
   body .wizzard ul li p {
   font-size: 14px;
   line-height: 16px;
   min-height: 32px;
   }
   body .wizzard ul li span {
   display: inline-block;
   background-color: #FFF;
   width: 60px;
   height: 60px;
   line-height: 60px;
   position: relative;
   overflow: hidden;
   border-radius: 100%;
   z-index: 9;
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   }
   body .wizzard ul li span strong {
   width: 70px;
   height: 70px;
   line-height: 70px;
   display: inline-block;
   background-color: #c1c1c1;
   position: absolute;
   top: 80%;
   left: 0;
   display:none;
   }
   body .wizzard ul li span i {
   position: relative;
   display: block;
   background-color: #f4f4f4;
   z-index: 9;
   border-radius: 100%;
   width: 36px;
   height: 36px;
   line-height: 36px;
   margin: 12px auto 0;
   font-style: normal;
   box-shadow: -webkit-0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: -moz-0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: -ms-0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: -o-0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   font-size: 34px;
   color: #f4f4f4;
   font-weight: 600;
   }
   body .wizzard ul li em {
   position: absolute;
   width: 100%;
   height: 8px;
   background-color: #d6d6d6;
   display: block;
   bottom: 60px;
   right: -50%;
   box-shadow: -webkit-0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
   box-shadow: -moz-0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
   box-shadow: -ms-0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
   box-shadow: -o-0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) inset;
   }
   body .wizzard ul li.active {
   position: relative;
   }
   body .wizzard ul li.active:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 0 15px 15px;
   border-color: #FFFFFF transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   }
   body .wizzard ul li.active:before {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 0 16px 16px;
   border-color: rgba(0, 0, 0, 0.1) transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   display:none;
   }
   body .wizzard ul li.active span {
   position: relative;
   }
   body .wizzard ul li.active span strong {
   background-color: #FFF;
   display:none;
   }
   body .wizzard ul li.active span i {
   color: #44bc9b;
   background-color: #44bc9b;
   }
   body .wizzard ul li.passed span strong {
   top: 0 !important;
   background-color: #00c2a2;
   }
   body .wizzard ul li.passed span i {
   color: #00c2a2;
   }
   body .wizzard ul li.passed em {
   background-color: #00c2a2;
   }
   body .wizzard ul li:nth-child(2) span strong {
   top: 60%;
   }
   body .wizzard ul li:nth-child(3) span strong {
   top: 40%;
   }
   body .wizzard ul li:nth-child(4) span strong {
   top: 20%;
   }
   body .wizzard ul li:nth-child(5) span strong {
   top: 0;
   }
   body .wizzard ul li:nth-child(5) em {
   display: none;
   }
   input.question + span {
   display: block;
   position: relative;
   white-space: nowrap;
   padding: 0;
   margin: 0;
   width: 30%;
   border-top: 1px solid white;
   -webkit-transition: width 0.4s ease;
   transition: width 0.4s ease;
   height: 0px; 
   margin:0 auto;
   }
   input.question:focus + span {
   width: 80%;  
   }
   /*.form-control {
   border: 1px solid #333 !important;
   height: 35px !important;
   padding: 0 15px !important;
   font-size: 14px;
   overflow: hidden;
   color: #333 !important;
   }*/
   .inputheading {
   text-align: center !important;
   margin-bottom:10px !important;
   font-size: 18px;
   color:#1e2839;
   }
   .inputheading i{
   color: #00c0a1;
   font-size: 28px;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   border: 2px solid #c1c1c1;
   border-radius: 100%;
   display: block;
   margin: 0 auto;  
   margin-bottom: 10px;
   }
   label {
   font-weight: 700 !important;
   text-align: center !important;
   margin: 20px 0 0 !important;
   }
   .radio-container {
   position: relative;
   padding-left: 25px;
   margin-bottom: 12px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   }
   /* Hide the browser's default radio button */
   .radio-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
   }
   /* Create a custom radio button */
   .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 18px;
   width: 18px;
   background-color: #eee;
   border-radius: 50%;
   }
   /* On mouse-over, add a grey background color */
   .radio-container:hover input ~ .checkmark {
   background-color: #ccc;
   }
   /* When the radio button is checked, add a blue background */
   .radio-container input:checked ~ .checkmark {
   background-color: #009c7d;
   }
   /* Create the indicator (the dot/circle - hidden when not checked) */
   .checkmark:after {
   content: "";
   position: absolute;
   display: none;
   }
   /* Show the indicator (dot/circle) when checked */
   .radio-container input:checked ~ .checkmark:after {
   display: block;
   }
   /* Style the indicator (dot/circle) */
   .radio-container .checkmark:after {
   top: 5px;
   left: 5px;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: white;
   }
   .next-btn {
   background-color: #2aa281 !important;
   color: #FFF;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#44bc9b), to(#2aa281));
   }
   .next-btn:hover {
   background-image: -webkit-gradient(linear, left top, left bottom, from(#2aa281), to(#44bc9b)); 
   }
   .listing-item {  
   display: block;
   padding: 10px;
   }
   .oldest-travel div .nice-select{
   display: none !important;
   }
   .oldest-travel .question-answer select{
   display: block !important;
   }
   .datepicker.dropdown-menu{
      top: 565px !important;
   }
   .dow{
      border-radius: unset !important;
   }



/**/