.form-one-layout{
    padding: 1.3rem;
    background-color: white;
    border-radius: 14px;
    margin-top: 20px; 
    margin-bottom: 15px;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
}

.form-one-layout h1{
    color: #262566;
}


:root {
   --color-black: #1a1a1a;
   --color-white: #fff;
   --color-light: #f3fafb;
   --color-red: #f53d3d;
   --color-green: #36b04c;
   --color-light-100: #ededee;
   --color-light-200: #d0d1d2;
   --color-light-300: #b8babc;
   --color-light-400: #a3a5a8;
   --color-light-500: #8b8e92;
   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
 *, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}
 html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
}
 body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: clamp(1rem, 2vw, 1.125rem);
   font-weight: 400;
   line-height: 1.5;
   color: var(--color-black);
   background: var(--color-light);
}



 .wrapper-column {
   max-width: 90%;
   height: auto;
   padding: 3rem 1.5rem;
   margin: 3rem auto 1rem;
   border-radius: 0.25rem;
   background: var(--color-white);
   box-shadow: var(--shadow-large);
}
 @media only screen and (min-width: 425px) {
   .wrapper-column {
     max-width: 26rem;
     height: auto;
     padding: 3rem;
  }
}
 .wrapper-header {
   text-align: center;
   vertical-align: middle;
}

 .custom-form-control {
   position: relative;
   width: 100%;
   height: 3rem;
   margin: 0 auto;
}
 .custom-form-control:nth-child(1) {
   grid-area: firstname;
}
 .custom-form-control:nth-child(2) {
   grid-area: lastname;
}
 .custom-form-control:nth-child(3) {
   grid-area: email;
}
 .custom-form-control:nth-child(4) {
   grid-area: password;
}
 .custom-form-control:nth-child(5) {
   grid-area: submit;
}
 .form-label {
   position: absolute;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   left: 0.75rem;
   top: 0.75rem;
   padding: 0 0.35rem;
   color: var(--color-light-500);
   background: var(--color-white);
   transition: all 0.35s ease;
}
 .form-input {
   position: absolute;
   display: block;
   font-family: inherit;
   font-size: 1rem;
   font-weight: 400;
   line-height: inherit;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px;
   padding: 0.75rem 1rem !important;
   z-index: 1;
   outline: none;
   border-radius: 0.25rem;
   border-width: 1.75px;
   border-style: solid;
   border-color: var(--color-light-300);
   color: var(--color-black);
   background-clip: padding-box;
   background-color: transparent;
   transition: all 0.35s ease-in-out;
}
 .form-input::placeholder {
   display: none;
   opacity: 0;
   visibility: hidden;
}
 .form-input:focus + .form-label {
   font-size: 0.875rem;
   font-weight: 400;
   top: -0.65rem;
   left: 0.75rem;
   z-index: 5;
}
 .form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
   font-size: 0.875rem;
   font-weight: 400;
   top: -0.65rem;
   left: 0.75rem;
   z-index: 5;
}
 .form-alert {
   position: absolute;
   display: block;
   font-size: 0.875rem;
   line-height: 1.5;
   left: 0;
   bottom: -1.5rem;
   opacity: 0;
   visibility: hidden;
   color: var(--color-black);
}
 .form-check i {
   position: absolute;
   display: block;
   content: "";
   top: 0.65rem;
   right: 0.75rem;
   opacity: 0;
   visibility: hidden;
}
 .custom-form-control.invalid .form-input {
   border-color: var(--color-red);
}
 .custom-form-control.invalid .form-alert {
   opacity: 1;
   visibility: visible;
   color: var(--color-red);
}
 .custom-form-control.invalid .form-check i.ion-invalid {
   font-size: 1.2rem;
   opacity: 1;
   visibility: visible;
   color: var(--color-red);
}
 .custom-form-control.success .form-input {
   border-color: var(--color-green);
}
 .custom-form-control.success .form-check i.ion-success {
   font-size: 1.2rem;
   opacity: 1;
   visibility: visible;
   color: var(--color-green);
}
 

 .custom-form-control{
  margin-bottom: 30px;
 }
 .imagesection{
  border: 1px solid #ddd;
  padding: 10px;
 }

 .textsection{
  padding-top: 20px;
  height: 300px;
  overflow: auto;
 }
 .ui-slider .ui-slider-handle {
    border: 7px solid #1bbc9b !important;
    background: #ffffff !important;
    font-weight: normal !important;
    color: #454545 !important;
    height: 25px !important;
    width: 25px !important;
    margin-top: -4px !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    font-size: 14px;
}
.ui-slider-horizontal .ui-slider-range {
    background: #262566 !important;
}
.ui-slider .ui-slider-handle:before{
  width: 0 !important;
}
.title-form{
  font-weight:bold;
  margin: 0px;
  color: #262566;
  font-size: 38px;
}
.ui-widget-content{
  padding: 5px;
    border: none;
    background: #c3c3c3;
}
.control-label{
  text-align: left;
}
.control-label h4{
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 0;
  border: none;
  text-align: left; 
  color:#19bd9b;

}
#coverage_amount{
  border:0 !important;
  font-size:23px; 
  color:#262566; 
  font-weight:bold;
  background: no-repeat;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 150px;
}
.title_des{
  font-size: 25px;
}
.new-visa{
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  background:white;
  padding-left: 0;
  padding-right: 0;
}
.get_qout{
    background: #262566;
    border: 0;
    border-radius: 5px !important;
    width: 150px;
}
.select2-container .select2-selection--single{
    height: 43px !important;
    padding: 5px !important;
}
.check_condtion h3{
  font-size: 15px;
  color: #5a5a5a;
}
.check_condtion .col-md-12{
  margin-top: -15px;
}